@font-face {
  font-family: 'Bariol';
  src: url('../fonts/Bariol_Light.eot');
  src: local('☺'), url('../fonts/Bariol_Light.woff') format('woff'), url('../fonts/Bariol_Light.ttf') format('truetype'), url('../fonts/Bariol_Light.svg') format('svg');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: 'Bariol';
  src: url('../fonts/Bariol_Bold.eot');
  src: local('☺'), url('../fonts/Bariol_Bold.woff') format('woff'), url('../fonts/Bariol_Bold.ttf') format('truetype'), url('../fonts/Bariol_Bold.svg') format('svg');
  font-weight: bold;
  font-style: bold;
}