body {
  font-family: oxygen;
  line-height: 1.2em;
  font-size: 12px;
  color: #222;
}
strong {
  font-weight: bold;
}
p {
  margin-bottom: 10px;
}
p.large {
  font-size: 18px;
  line-height: 1.2em;
}
h2,
h3,
h4 {
  font-weight: normal;
}
h2 {
  display: none;
}
h3 {
  font-size: 21px;
  line-height: 1.2em;
  margin-bottom: 0.2em;
  color: #18abeb;
}
h4 {
  font-size: 15px;
  line-height: 1.2em;
  color: #c14638;
}
hr {
  border: 0;
  padding: 0;
  margin: 0;
  display: block;
  height: 250px;
  width: 100%;
  background-image: url("../images/hr.jpg");
  background-size: cover;
  background-position: center center;
}
body,
html {
  min-height: 100%;
  min-width: 960px;
}
header {
  overflow: hidden;
  padding: 150px 0 100px;
  background-image: url("../images/map-top-1x.jpeg");
  background-position: center top;
  background-size: cover;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  header {
    background-image: url("../images/map-top-2x.jpeg");
  }
}
header h1 {
  text-indent: -999999px;
  background-image: url("../images/logo-1x.png");
  background-size: 660px 248.7890625px;
  width: 660px;
  height: 248.7890625px;
  margin: 0 auto 50px;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  header h1 {
    background-image: url("../images/logo-2x.png");
  }
}
header .subtitle {
  text-align: center;
  color: #c14638;
}
#about {
  width: 100%;
  background-image: url("../images/promo/0058.jpg");
  background-size: cover;
  background-position: 0 60%;
  color: #f3d9d7;
  text-align: justify;
  line-height: 1.2em;
  font-size: 14px;
}
#about #about-content {
  background-color: rgba(175,52,38,0.93);
  width: 50%;
}
#about #about-content #about-content-inner {
  margin: 0 auto;
  padding: 75px;
  max-width: 480px;
}
#events {
  background-image: url("../images/promo/0084.jpg");
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
}
#events #events-inner {
  min-width: 810px;
  max-width: 1050px;
  margin: 0 auto;
  padding: 75px;
  padding-bottom: 150px;
  overflow: hidden;
}
#events h3 {
  padding-left: 10px;
}
#events p {
  margin-bottom: 5px;
}
#events .day {
  float: left;
  width: 33.3333%;
}
#events .day:nth-child(3n + 2) {
  clear: both;
}
#events .day .day-inner {
  margin: 15px;
  padding: 20px 20px 20px;
  background-color: rgba(253,248,248,0.9);
}
#events .event {
  padding: 5px 10px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}
#events .event:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#events .event:hover h4 {
  color: #ae3f32;
}
#events .date {
  font-size: 10px;
  color: #999;
  margin-bottom: 2px;
  display: block;
}
#sponsors {
  overflow: hidden;
  width: 100%;
  background-image: url("../images/map-bottom-1x.jpeg");
  background-size: cover;
  background-position: center bottom;
}
#sponsors #sponsors-inner {
  min-width: 810px;
  max-width: 1050px;
  margin: 0 auto;
  padding: 75px;
  padding-bottom: 150px;
  overflow: hidden;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  #sponsors {
    background-image: url("../images/map-bottom-2x.jpeg");
  }
}
#sponsors img {
  display: inline-block;
  margin-right: 50px;
  background-position: center center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 25px;
  vertical-align: middle;
}
#sponsors img:hover {
  transform: scale(1.05);
}
#sponsors #sponsors-one,
#sponsors #sponsors-local,
#sponsors #sponsors-product,
#sponsors #sponsors-partner {
  overflow: hidden;
  text-align: center;
  margin-bottom: 75px;
}
#sponsors #sponsors-one img {
  max-width: 250px;
  max-height: 208.33333333333334px;
}
#sponsors #sponsors-local img {
  max-width: 150px;
  max-height: 125px;
}
#sponsors #sponsors-product img {
  max-width: 150px;
  max-height: 125px;
}
#sponsors #sponsors-partner img {
  max-width: 125px;
  max-height: 104.16666666666667px;
}

